I'll learn how to handle missing data without having to drop rows and columns using data on motor vehicle collisions released by New York City and published on the <b>NYC OpenData website</b>.
There is data on over 1.5 million collisions dating back to 2012, with additional data continuously added.

I'll work with an extract of the full data: Crashes from the year 2018.

The data has been modified form the original to fit this scenario.

In [82]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 900)
pd.set_option('display.max_colwidth', -1)

mvc = pd.read_csv(r"C:\Users\lumum\Documents\Data Projects\working-with-missing-data\nypd_mvc_2018.csv")

mvc.head()

,unique_key,date,time,borough,location,on_street,cross_street,off_street,pedestrians_injured,cyclist_injured,motorist_injured,total_injured,pedestrians_killed,cyclist_killed,motorist_killed,total_killed,vehicle_1,vehicle_2,vehicle_3,vehicle_4,vehicle_5,cause_vehicle_1,cause_vehicle_2,cause_vehicle_3,cause_vehicle_4,cause_vehicle_5
0,3869058,2018-03-23,21:40,MANHATTAN,"(40.742832, -74.00771)",WEST 15 STREET,10 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
1,3847947,2018-02-13,14:45,BROOKLYN,"(40.623714, -73.99314)",16 AVENUE,62 STREET,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,DS,NaN,NaN,NaN,Backing Unsafely,Unspecified,NaN,NaN,NaN
2,3914294,2018-06-04,0:00,NaN,"(40.591755, -73.9083)",BELT PARKWAY,NaN,NaN,0,0,1,1.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
3,3915069,2018-06-05,6:36,QUEENS,"(40.73602, -73.87954)",GRAND AVENUE,VANLOON STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Glare,Passing Too Closely,NaN,NaN,NaN
4,3923123,2018-06-16,15:45,BRONX,"(40.884727, -73.89945)",NaN,NaN,208 WEST 238 STREET,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Turning Improperly,Unspecified,NaN,NaN,NaN

In [83]:
mvc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57864 entries, 0 to 57863
Data columns (total 26 columns):
unique_key             57864 non-null int64
date                   57864 non-null object
time                   57864 non-null object
borough                37218 non-null object
location               53979 non-null object
on_street              43903 non-null object
cross_street           28615 non-null object
off_street             13771 non-null object
pedestrians_injured    57864 non-null int64
cyclist_injured        57864 non-null int64
motorist_injured       57864 non-null int64
total_injured          57863 non-null float64
pedestrians_killed     57864 non-null int64
cyclist_killed         57864 non-null int64
motorist_killed        57864 non-null int64
total_killed           57859 non-null float64
vehicle_1              57509 non-null object
vehicle_2              45602 non-null object
vehicle_3              3512 non-null object
vehicle_4              706 non-null object
vehicle_5              183 non-null object
cause_vehicle_1        57689 non-null object
cause_vehicle_2        49172 non-null object
cause_vehicle_3        3730 non-null object
cause_vehicle_4        753 non-null object
cause_vehicle_5        193 non-null object
dtypes: float64(2), int64(7), object(17)
memory usage: 11.5+ MB

A summary of the columns and their data is below:
<ul>
    <li><b>unique_key</b>: A unique identifier for each collision.</li>
    <li><b>date, time</b>: Date and time of the collision.</li>
    <li><b>borough</b>: The borough, or area of New York City, where the collision occurred.</li>
    <li><b>location</b>: Latitude and longitude coordinates for the collision.</li>
    <li><b>on_street, cross_street, off_street</b>: Details of the street or intersection where the collision occurred.</li>
    <li><b>pedestrians_injured</b>: Number of pedestrians who were injured.</li>
    <li><b>cyclist_injured</b>: Number of people traveling on a bicycle who were injured.</li>
    <li><b>motorist_injured</b>: Number of people traveling in a vehicle who were injured.</li>
    <li><b>total_injured</b>: Total number of people injured.</li>
    <li><b>pedestrians_killed</b>: Number of pedestrians who were killed.</li>
    <li><b>cyclist_killed</b>: Number of people traveling on a bicycle who were killed.</li>
    <li><b>motorist_killed</b>: Number of people traveling in a vehicle who were killed.</li>
    <li><b>total_killed</b>: Total number of people killed.</li>
    <li><b>vehicle_1 through vehicle_5</b>: Type of each vehicle involved in the accident.</li>
    <li><b>cause_vehicle_1 through cause_vehicle_5</b>: Contributing factor for each vehicle in the accident.</li>
    </ul>

Counting missing values:

In [84]:
data = np.random.choice([1.0, np.nan], size=(3, 3), p=[.3, .7])
df = pd.DataFrame(data, columns=['A','B','C'])
print(df)

    A   B    C
0 NaN NaN  1.0
1 NaN NaN  1.0
2 NaN NaN NaN

Next, we can use the <b>DataFrame.isnull()</b> method to identify which values are null:

In [85]:
df.isnull()

      A     B      C
0  True  True  False
1  True  True  False
2  True  True  True

Then we can chain the result to <b>DataFrame.sum()</b> method to count the number of null values in each column:

In [86]:
df.isnull().sum()
#total null values in the dataframe

A    3
B    3
C    1
dtype: int64

Let's use this technique to count the null values in our data set.

In [87]:
import pandas as pd
mvc = pd.read_csv("nypd_mvc_2018.csv")

null_counts = mvc.isnull().sum()
print(null_counts)

unique_key             0
date                   0
time                   0
borough                20646
location               3885
on_street              13961
cross_street           29249
off_street             44093
pedestrians_injured    0
cyclist_injured        0
motorist_injured       0
total_injured          1
pedestrians_killed     0
cyclist_killed         0
motorist_killed        0
total_killed           5
vehicle_1              355
vehicle_2              12262
vehicle_3              54352
vehicle_4              57158
vehicle_5              57681
cause_vehicle_1        175
cause_vehicle_2        8692
cause_vehicle_3        54134
cause_vehicle_4        57111
cause_vehicle_5        57671
dtype: int64

### percentage of null values per column
In order to get a better picture of the null values, I calculate the percentage of null values in each column.

In [88]:
#shape method gets the total number of rows
null_counts_pct = null_counts / mvc.shape[0] * 100
print(null_counts_pct)

unique_key             0.000000
date                   0.000000
time                   0.000000
borough                35.680216
location               6.714019
on_street              24.127264
cross_street           50.547836
off_street             76.201092
pedestrians_injured    0.000000
cyclist_injured        0.000000
motorist_injured       0.000000
total_injured          0.001728
pedestrians_killed     0.000000
cyclist_killed         0.000000
motorist_killed        0.000000
total_killed           0.008641
vehicle_1              0.613508
vehicle_2              21.191069
vehicle_3              93.930596
vehicle_4              98.779898
vehicle_5              99.683741
cause_vehicle_1        0.302433
cause_vehicle_2        15.021430
cause_vehicle_3        93.553850
cause_vehicle_4        98.698673
cause_vehicle_5        99.666459
dtype: float64

In [89]:
mvc.shape[0]

57864

### Add both the counts and percentages to a dataframe to make them easier to compare

In [90]:
#Constructing a DataFrame from a dictionary.
#df1.transpose()
#Transposing a DataFrame with mixed dtypes will result in a homogeneous DataFrame with the object dtype hence we use astype(int)
null_df = pd.DataFrame({'null_counts': null_counts, 'null_pct': null_counts_pct})
# Rotate the dataframe so that rows become columns and vice-versa
null_df = null_df.T.astype(int)

null_df

,unique_key,date,time,borough,location,on_street,cross_street,off_street,pedestrians_injured,cyclist_injured,motorist_injured,total_injured,pedestrians_killed,cyclist_killed,motorist_killed,total_killed,vehicle_1,vehicle_2,vehicle_3,vehicle_4,vehicle_5,cause_vehicle_1,cause_vehicle_2,cause_vehicle_3,cause_vehicle_4,cause_vehicle_5
null_counts,0,0,0,20646,3885,13961,29249,44093,0,0,0,1,0,0,0,5,355,12262,54352,57158,57681,175,8692,54134,57111,57671
null_pct,0,0,0,35,6,24,50,76,0,0,0,0,0,0,0,0,0,21,93,98,99,0,15,93,98,99

About a third of the columns have no null values, with the rest ranging from less than 1% to 99%!

To make things easier, let's start by looking at the group of columns that relate to people killed in collisions.

We'll use list comprehension to reduce our summary dataframe to just those columns:

In [91]:
killed_cols = [col for col in mvc.columns if 'killed' in col]
print(null_df[killed_cols])

             pedestrians_killed  cyclist_killed  motorist_killed  total_killed
null_counts  0                   0               0                5
null_pct     0                   0               0                0

In [92]:
killed_cols = []
for col in mvc.columns:
    if 'killed' in col:
        killed_cols.append(col)
        
#print(null_df[killed_cols])
killed_cols

['pedestrians_killed', 'cyclist_killed', 'motorist_killed', 'total_killed']

We can see that each of the individual categories have no missing values, but the <b>total_killed</b> column has five missing values.

One option for handling this would be to remove – or drop – those five rows. This would be a reasonably valid choice since it's a tiny portion of the data, but let's think about what other options we have first.

If you think about it, the total number of people killed should be the sum of each of the individual categories. We might be able to "fill in" the missing values with the sums of the individual columns for that row. The technical name for filling in a missing value with a replacement value is called <b>imputation</b>.

Let's look at how we could explore the values where the <b>total_killed</b> isn't equal to the sum of the other three columns. We'll illustrate this process using a series of diagrams. The diagrams won't contain values, they'll just show a grid to represent the values.

Let's start with a dataframe of just the four columns relating to people killed:
![ ](images\wmv1.png)

We then select just the first three columns, and manually sum each row:
![ ](images\wmv2.png)

We then compare the manual sum to the original total column to create a boolean mask where equivalent values are not equal:
![ ](images\wmv3.png)

Lastly, we use the boolean mask to filter the original dataframe to include only rows where the manual sum and original aren't equal:
![ ](images\wmv4.png)

Let's use this strategy to look at the rows that don't match up!

In [93]:
# killed_cols = [col for col in mvc.columns if 'killed' in col]
killed_cols = []
for col in mvc.columns:
    if 'killed' in col:
        killed_cols.append(col)
        
killed = mvc[killed_cols].copy()

killed_manual_sum = killed[['pedestrians_killed','cyclist_killed','motorist_killed']].sum(axis = 1)

killed_mask = killed_manual_sum != killed['total_killed']

killed_non_eq = killed[killed_mask]

In [94]:
killed_cols

['pedestrians_killed', 'cyclist_killed', 'motorist_killed', 'total_killed']

In [95]:
killed_manual_sum

0        0
1        0
2        0
3        0
4        0
        ..
57859    0
57860    0
57861    0
57862    0
57863    0
Length: 57864, dtype: int64

In [96]:
killed['total_killed']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
57859    0.0
57860    0.0
57861    0.0
57862    0.0
57863    0.0
Name: total_killed, Length: 57864, dtype: float64

In [97]:
killed_non_eq
#the killed_non_eq has 6 rows

       pedestrians_killed  cyclist_killed  motorist_killed  total_killed
3508   0                   0               0               NaN
20163  0                   0               0               NaN
22046  0                   0               1                0.0
48719  0                   0               0               NaN
55148  0                   0               0               NaN
55699  0                   0               0               NaN

## series.mask()

We can categorize these into two categories:
<ol type="1">
    <li>Five rows where the <b>total_killed</b> is not equal to the sum of the other columns because the total value is missing.</li>
    <li>One row where the <b>total_killed</b> is less than the sum of the other columns.</li>
    </ol>

From this, we can conclude that filling null values with the sum of the columns is a fairly good choice for our imputation, given that only six rows out of around 58,000 don't match this pattern.

We've also identified a row that has suspicious data - one that doesn't sum correctly. Once we have imputed values for all rows with missing values for <b>total_killed</b>, we'll mark this suspect row by setting its value to <b>NaN</b>.

In order to execute this, we'll learn to use the <b>Series.mask()</b> method. <b>Series.mask()</b> is useful when you want to replace certain values in a series based off a boolean mask. The syntax for the method is:
<code>Series.mask(bool_mask, val_to_replace)</code>

Let's look at an example with some simple data. We'll start with a series called <b>fruits</b>:
![ ](images\wmv5.png)

Next, we create a boolean series that matches values equal to the string <b>Banana</b>:
![ ](images\wmv6.png)

Lastly, we use <b>Series.mask()</b> to replace all the values that match the boolean series with a new value, <b>Pear</b>:
![ ](images\wmv7.png)

If we wanted to describe the logic of the code above, we'd say For each value in the "fruits" series, if the corresponding value in the "bool" series is true, update the value to "Pear," otherwise leave the original value.

In the first example above, we updated a single value, but we can also update with the matching value from a series that has identical index labels, like this <b>nums</b> series:
![ ](images\wmv8.png)

Let's look at how we can update the matching values in <b>fruit</b> with the corresponding values in <b>nums</b>:
![ ](images\wmv9.png)

If we wanted to describe the logic of the code above, we'd say For each value in the "fruits" series, if the corresponding value in the "bool" series is true, update the value to the corresponding value from "nums," otherwise leave the original value.

In the first example above, we updated a single value, but we can also update with the matching value from a series that has identical index labels, like this <b>nums</b> series:
![ ](images\wmv10.png)

Let's look at how we can update the matching values in fruit with the corresponding values in <b>nums</b>:
![ ](images\wmv11.png)

If we wanted to describe the logic of the code above, we'd say For each value in the "fruits" series, if the corresponding value in the "bool" series is true, update the value to the corresponding value from "nums," otherwise leave the original value.

Let's look at how we'd use this technique to update the values in the <b>total_killed</b> column. First, we'll replace all null values with the equivalent values from our <b>killed_manual_sum</b> series:

In [98]:
killed_null = killed['total_killed'].isnull()
killed['total_killed'] = killed['total_killed'].mask(killed_null, killed_manual_sum)

Next, we'll replace any values where the manual sum and the total column aren't equal with <b>np.nan</b>. This time we'll define the boolean series directly into <b>Series.mask()</b>:

In [105]:
killed['total_killed'] = killed['total_killed'].mask(killed['total_killed'] != killed_manual_sum, np.nan)

In [109]:
print(killed[killed_mask])

       pedestrians_killed  cyclist_killed  motorist_killed  total_killed
3508   0                   0               0                0.0
20163  0                   0               0                0.0
22046  0                   0               1                1.0
48719  0                   0               0                0.0
55148  0                   0               0                0.0
55699  0                   0               0                0.0

We've gone from five null values to one, and flagged some suspicious data. Let's do the same for the injured columns.

In [112]:
import numpy as np

# fix the killed values
killed['total_killed'] = killed['total_killed'].mask(killed['total_killed'].isnull(), killed_manual_sum)
# replace any values where the manual sum and the total column aren't equal with np.nan for row 22046 which total_killed is mis-calculated
killed['total_killed'] = killed['total_killed'].mask(killed['total_killed'] != killed_manual_sum, np.nan)

# Create an injured dataframe and manually sum values
injured = mvc[[col for col in mvc.columns if 'injured' in col]].copy()
injured_manual_sum = injured.iloc[:,:3].sum(axis=1)
injured['total_injured'] = injured['total_injured'].mask(injured['total_injured'].isnull(), injured_manual_sum)

injured['total_injured'] = injured['total_injured'].mask(injured['total_injured'] != injured_manual_sum, np.nan)